.container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center */
    /* flex-direction: column; */
    /* flex-direction: row; */
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: space-around; */
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-1 div,
.container-2 div,
.container-3 div {
    border: 3px solid #ccc;
    padding: 10px;
    flex-wrap: wrap;
}

.box-1 {
    flex-basis: 15%;
    /* flex: auto */
    /* flex: 2; */
    /* order: 2; */
}

.box-2 {
    flex-basis: 15%;
    /* flex: auto; */
    /* flex: 1; */
    /* order: 1; */
}

.box-3 {
    flex-basis: 15%;
    /* flex: auto; */
    /* flex: 1; */
    /* order: 3; */
}

.container-2-box {
    flex-basis: 15%;
    flex-wrap: wrap;
    /* flex: auto; */
    /* width: 30%; */
    /* same as above */
}

.container-3-box {
    flex-basis: 12%;
}